@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hiruko";
  src: url("/fonts/Hiruko.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
